@charset "UTF-8";
/* CSS Document */
body {
	font-family: 'Hind Madurai', sans-serif ,'Noto Sans TC';
/*	font-family: 'Dosis', sans-serif ,'Noto Sans TC';*/
	color: #333;
/*	scroll-behavior: smooth;*/
}
body a {
	transition: .3s;
}
p {
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 1px;
}
section{
	padding: 80px 0;
	background-color: #f1f2f3;
}

section.yoga {
	background-color: #fff;
}
section ul {
	padding: 0;
}
section li {
	margin: 20px auto;
	font-size: 17px;
	line-height: 1.5;
    letter-spacing: 1px;
	list-style: disc;
	font-weight: 300;
}
@media (max-width: 767px){
	section{
		padding: 40px 0;
	}
	p {
    	font-size: 15px;
    	padding-right: 15px;
	}
	section ul {
    	padding-left: 24px;
	}
	section li {
		margin: 16px auto;
		font-size: 15px;
	}
}

/*navigation*/
ul.site-nav {
	transform: rotate(90deg);
	position: fixed;
	transform-origin: left top 0;
	width: 100%;
	z-index: 1000;
}
ul.site-nav li {
	font-size: 24px;
	font-weight: 600;
	line-height: 0.9;
	letter-spacing: 2px;
}
ul.site-nav li a {
	color: #000;
}
.site-navigation-left ul{
	left: 80px;	
	bottom: 190px;
}
.site-navigation-right ul {
	left: calc(100vw - 47px);
}
.site-navigation-left li {
	display: inline-block;
	margin-right: 20px;
}
.site-navigation-left li span {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}
ul.site-nav li:hover a {
	color: #44ADBB;
}

@media (max-width: 767px){
	ul.site-nav li {
		font-size: 20px;
	}
	.site-navigation-left li span {
		font-size: 12px;
	}
	.site-navigation-left ul {
    	left: 47px;
    	bottom: 150px;
	}
	.site-navigation-right ul {
    	left: calc(100vw - 8px);
	}
	.site-navigation-right ul.site-nav {
		padding: 0;
	}
}

/*about*/
section.about {
	min-height: 100vh;
	display: flex;
}
section.about .container {
	display: flex;
}
.about-wrap {
	 margin: auto;
    /* align-items: center; */
    justify-content: center;
}

.about-left img {
	width: 100%;
}
.about-left {
	margin-top: 10%;
}
.about-left .s-chen-txt {
	position: absolute;
    top: -78px;
    left: -32px;
}

.about-right {
	margin-top: 20%;
    padding-left: 5%;
}
.about-right h2 {
	font-size: 34px;
	margin: 16px auto 2px;
	line-height: 1;
}
.about-right h5 {
	font-size: 14px;
	margin: 0 auto;
}
.about-right h5.h5-en{
	font-size: 17px;
}
.about-right p {
	font-size: 16px;
    margin-top: 40px;
	margin-bottom: 26px;
}
.about-right .mail {
	font-weight: 700;
	font-size: 18px;
	border-bottom: 2px solid #44ADBB;;
	color: #000;
}
.about-right .mail:hover {
	color: #44ADBB;;
}
@media (max-width: 767px) {
	.about-left {
		padding: 0;
		margin-top: 19%;
	}
	.about-left .s-chen-txt {
    	top: -49px;
    	left: -19px;
	}
	.about-right {
		margin-top: 30px;
		padding: 0 0 0 8%;
	}
	.about-right p {
		padding: 0;
		margin-top: 20px;
	}
}

/*yoga*/
.yoga .container-fluid {
	padding: 0;
}
.yoga-op {
	position: relative;
}
.yoga .yoga-opimg {
	width: 70%;
}
.yoga .yoga-opimg img,
.media img {
	width: 100%;
}
.yoga .yoga-optxt {
	position: absolute;
	right: 0;
	top:0;
}
.yoga .yoga-optxt h2 {
	font-size: 50px;
	font-weight: 600;
	line-height: 1.2;
}
.yoga-content {
	padding: 100px 0;
}
.txt-wrap-img,
.txt-wrap {
	margin-top: 10%;
}
.yoga-img {
    width: 49%;
    padding-left: 18px;
}
.yoga-img-landscape {
	width: 90%;
}
.txt-wrap h3 {
	font-size: 30px;
	font-weight: 400;
	line-height: 1.2;
}
.yoga-content::after {
	display: block;
	content: "";
	background-color: #BEE3E8;
	height: 80%;
}

@media (max-width: 767px){
	.txt-wrap{
		padding-right: 15px;
	}
	.yoga-content {
    	padding: 0;
	}
	.yoga .yoga-optxt {
		position: inherit;
	}
	.yoga .yoga-optxt h2 {
		font-size: 34px;
	}
	.yoga .yoga-optxt p {
		padding: 0;
	}
	.txt-wrap h3 {
    	font-size: 24px;
    	line-height: 1.3;
	}
	.yoga .yoga-opimg {
    	width: 90%;
	}
	.txt-wrap-img {
    	margin-top: 20px;
	}
}

/*media*/
.media h2 {
	font-size: 38px;
	font-weight: 600;
	line-height: 1.3;
}
.media-wrap {
/*	margin: 50px auto;*/
	margin-top: 50px;
}
.media-wrap .col-5,
.media-wrap .col-6,
.media-wrap .col-7 {
	padding: 10px;
}

.media-img {
	width: 100%;
	height: 280px;
}
.media-img a {
	display: block;
	height: 100%;
}
.media1 {
	background: url(../img/media1.jpg) center center no-repeat;
	background-size: cover;
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
}
.media2 {
	background: url(../img/media2.jpg) center center no-repeat;
	background-size: cover;
	

}
.media3 {
	background: url(../img/media3.jpg) center center no-repeat;
	background-size: cover;
}
.media4 {
	background: url(../img/media4.jpg) center center no-repeat;
	background-size: cover;
}
.media5 {
	background: url(../img/media5.jpg) center center no-repeat;
	background-size: cover;
}
.media6 {
	background: url(../img/media6.jpg) center center no-repeat;
	background-size: cover;
}

.media-box {
	position: relative;
	padding: 10px;
}
.mask {
	position: absolute;
	left: 10px;
	width: calc(100% - 20px);
	height: 280px;
	background-color: rgba(0,0,0,0.8);
	transition: all 0.4s ease-in-out;
	opacity: 0;
	text-align: right;
}
.media-img:hover .mask {
	opacity: 1;
}
.media-box .mask a {
	color: #fff;
}
.media-box .mask-txt {
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 60%;
}
.media-box .mask-txt h5 {
	font-style: italic;
	margin: 0;
	letter-spacing: 2px;
    border-bottom: 1px solid #ccc;
    display: inline-block;
	color: #BEE3E8;
	font-size: 12px;
    font-weight: 200;
}
.media-box .mask-txt h3 {
	margin: 10px 0 0 0;
}
.media-box .mask-txt p {
	margin: 6px 0 0 0;
    font-weight: 200;
    font-size: 15px;
	line-height: 1.4;
	color: #ddd;
}
.media-box .mask-txt h6 {
	font-style: italic;
	font-size: 12px;
	font-weight: 300;
	color: #BEE3E8;
	margin: 20px 0 0 0;
}
.media-box .media2 .mask-txt {
	width: 100%;
	padding-left: 20px;
}
.award-tag {
    display: inline-block;
    background-color: #BEE3E8;
    position: absolute;
    right: 9px;
    top: 9px;
    padding: 6px 13px 5px 15px;
    font-weight: bold;
/*	border-radius: 5px;*/
	font-size: 14px;
}

@media (max-width: 767px){
	.media-img {
		height: 140px;
	}
	.mask {
		height: 140px;
		background-color: transparent;
	}
	.mask-txt {
		display: none;
	}
/*
	.media-wrap {
		padding: 0;
	}
	.media-box {
		padding: 0 10px;
	}
*/
	.media-box {
		padding: 5px 0;
	}
	.media h2 {
		font-size: 30px;
		line-height: 1.2;
		margin: 16px auto;
	}
	.media-wrap {
		margin-top: 20px;
	}
	.award-tag {
    	right: 0;
		top: 5px;
	}
}